@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');
*,
*::before,*::after{
  box-sizing:border-box
}

.divide{
  height: .5px;
  background: #E6E8EC;
  border-radius: 1px;
}

body{
  overflow-x: hidden;

  .app-header{
    background: #FCFCFD;
  }
  .app-main{
    height: calc(100vh - 68px);
  }
  .app-side-menu{
    .side-nav-menu{

      &.active{
        color: red;
        background-color: #FFF5F5 ;
      }
    }
  }
}
