<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Diagon</title>
<!--    Link below for development-->
    <link rel="stylesheet" href="css/tailwind.css" />
    <!--    Link below for production-->
    <link rel="stylesheet" href="styles/tailwind.css" />
<!--    Link below for custom CSS-->
    <link rel="stylesheet" href="/css/sass/main.scss" />
  </head>
  <body>
    <section
      id="app-index"
      class="md:grid grid-cols-12 relative bg-white w-full"
    >
    <header class="app-header col-span-12 py-2 lg:px-6 pb-5 lg:pb-3 w-full shadow-lg lg:flex justify-between">
      <div class="logo-search flex mx-3 lg:mx-0 justify-between lg:justify-start items-center">
        <div class="logo">
          <img src="assets/svg/main-logo%201.svg" alt="">
        </div>
          <div class="search form-group bg-white ml-5 lg:ml-115">
            <div class="input-eye mt-2 relative flex items-center">
              <input
                      class="
                    rounded-lg
                    w-full
                    text-sm
                    text-diagon-gray-100
                    border-2 border-diagon-gray-300
                    focus:ring-1

                  "
                      id="search"
                      placeholder="Search for products"
                      type="text"
              />
              <div class="z-10 absolute bg-white right-0 mr-4 text-diagon-gray-100">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                </svg>
              </div>
            </div>
          </div>
      </div>
      <nav class="flex mx-3 justify-between lg:space-x-5 items-center mt-5 lg:mt-0">
        <div class="lang cursor-pointer relative">
          <div @click="showLangOption = !showLangOption" class="text-sm cursor-pointer leading-4 text-diagon-black flex items-center space-x-2">
            <span>{{activeLang}}</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
            </svg>
          </div>

          <div v-if="showLangOption" class="lang-options bg-white mt-3 ml-5 absolute w-20 text-center rounded-lg border shadow-2xl text-12px leading-4 text-diagon-black">
            <ul class="">
              <li @click="selectActiveLang(lang)" v-for="(lang, index) in language" :key="`lang-${index}`" class="mb-2 p-1 cursor-pointer hover:bg-diagon-gray-200 hover:text-white">{{lang}}</li>
            </ul>
          </div>
        </div>

        <div class="spark cursor-pointer">
          <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M20.3609 21L19.376 26.9096L25.0885 19H19.6391L20.624 13.0904L14.9115 21H20.3609ZM23.2984 9.2096C23.4722 8.16696 22.1202 7.6028 21.5013 8.45971L12.1451 21.4145C11.6675 22.0758 12.14 23 12.9558 23H18L16.7016 30.7904C16.5278 31.8331 17.8798 32.3972 18.4987 31.5403L27.8549 18.5855C28.3326 17.9242 27.86 17 27.0442 17H22L23.2984 9.2096Z" fill="#777E91"/>
          </svg>

        </div>

        <div class="notification-bell cursor-pointer">
          <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="28" width="12" height="12" rx="6" fill="#58BD7D"/>
            <path d="M29 26.0233C29 26.5113 28.6043 26.907 28.1163 26.907H11.8837C11.3957 26.907 11 26.5113 11 26.0233C11 25.5352 11.3957 25.1395 11.8837 25.1395H11.9V18.9809C11.9 14.5729 15.527 11 20 11C24.473 11 28.1 14.5729 28.1 18.9809V25.1395H28.1163C28.6043 25.1395 29 25.5352 29 26.0233ZM13.7 25.1395H26.3V18.9809C26.3 15.5494 23.4794 12.7674 20 12.7674C16.5206 12.7674 13.7 15.5494 13.7 18.9809V25.1395ZM17.976 28.7558C17.7312 28.2608 18.1977 27.7907 18.75 27.7907H21.25C21.8023 27.7907 22.2688 28.2608 22.024 28.7558C21.9155 28.9751 21.7699 29.1773 21.591 29.3529C21.169 29.7672 20.5967 30 20 30C19.4033 30 18.831 29.7672 18.409 29.3529C18.2301 29.1773 18.0845 28.9751 17.976 28.7558Z" fill="#777E91"/>
          </svg>
        </div>

        <div class="wallet cursor-pointer border px-3 border-diagon-gray-100 rounded-full text-center">
          <span class="text-sm leading-4 font-medium">Wallet</span>
        </div>

        <div class="mode cursor-pointer">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 2C11.4477 2 11 2.44772 11 3C11 3.55228 11.4477 4 12 4C12.5523 4 13 3.55228 13 3C13 2.44772 12.5523 2 12 2Z" fill="#777E91"/>
            <path d="M12 20C11.4477 20 11 20.4477 11 21C11 21.5523 11.4477 22 12 22C12.5523 22 13 21.5523 13 21C13 20.4477 12.5523 20 12 20Z" fill="#777E91"/>
            <path d="M21 11C21.5523 11 22 11.4477 22 12C22 12.5523 21.5523 13 21 13C20.4477 13 20 12.5523 20 12C20 11.4477 20.4477 11 21 11Z" fill="#777E91"/>
            <path d="M4 12C4 11.4477 3.55228 11 3 11C2.44772 11 2 11.4477 2 12C2 12.5523 2.44772 13 3 13C3.55228 13 4 12.5523 4 12Z" fill="#777E91"/>
            <path d="M17.6569 4.92903C18.0474 4.53851 18.6806 4.53851 19.0711 4.92903C19.4616 5.31955 19.4616 5.95272 19.0711 6.34324C18.6806 6.73377 18.0474 6.73377 17.6569 6.34324C17.2664 5.95272 17.2664 5.31955 17.6569 4.92903Z" fill="#777E91"/>
            <path d="M6.34309 17.6568C5.95257 17.2663 5.3194 17.2663 4.92888 17.6568C4.53836 18.0473 4.53836 18.6805 4.92888 19.071C5.3194 19.4616 5.95257 19.4616 6.34309 19.071C6.73362 18.6805 6.73362 18.0473 6.34309 17.6568Z" fill="#777E91"/>
            <path d="M19.0711 17.6569C19.4616 18.0474 19.4616 18.6806 19.0711 19.0711C18.6806 19.4616 18.0474 19.4616 17.6569 19.0711C17.2664 18.6806 17.2664 18.0474 17.6569 17.6569C18.0474 17.2664 18.6806 17.2664 19.0711 17.6569Z" fill="#777E91"/>
            <path d="M6.34319 6.34309C6.73371 5.95257 6.73371 5.3194 6.34319 4.92888C5.95266 4.53836 5.3195 4.53836 4.92897 4.92888C4.53845 5.3194 4.53845 5.95257 4.92897 6.34309C5.3195 6.73362 5.95266 6.73362 6.34319 6.34309Z" fill="#777E91"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M12 14C13.1046 14 14 13.1046 14 12C14 10.8954 13.1046 10 12 10C10.8954 10 10 10.8954 10 12C10 13.1046 10.8954 14 12 14ZM12 16C14.2091 16 16 14.2091 16 12C16 9.79086 14.2091 8 12 8C9.79086 8 8 9.79086 8 12C8 14.2091 9.79086 16 12 16Z" fill="#777E91"/>
          </svg>
        </div>
        <div class="avatar">
          <img class="w-10 h-10 rounded-full" src="assets/images/user.png" alt="">
        </div>
      </nav>
    </header>
    <div class="app-main w-full grid grid-cols-12 col-span-12 h-screen">
      <aside class="app-side-menu col-span-2 bg-white px-4 pt-8">
        <div class="input-eye relative flex items-center">
          <input
                  class="
                    rounded-lg
                    w-full
                    text-sm
                    text-diagon-gray-100
                    border-2 border-diagon-gray-300
                    focus:ring-1

                  "
                  id="search"
                  placeholder="Search for products"
                  type="text"
          />
          <div class="z-10 absolute bg-white right-0 mr-4 text-diagon-gray-100">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
            </svg>
          </div>
        </div>

        <nav class="mt-6">
          <ul>
            <li :class="{'active': urlChecker('')}" class="flex side-nav-menu items-center mb-3 cursor-pointer pl-3 py-2 text-diagon-gray-400 hover:bg-diagon-red-100 text-base leading-6 font-medium">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-3" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
              </svg>
              <a href="#">Home</a>
            </li>
            <li :class="{'active': urlChecker('wallet')}" class="flex side-nav-menu items-center mb-3 cursor-pointer pl-3 py-2 text-diagon-gray-400 hover:bg-diagon-red-100 text-base leading-6 font-medium">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-3" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 10h18M7 15h1m4 0h1m-7 4h12a3 3 0 003-3V8a3 3 0 00-3-3H6a3 3 0 00-3 3v8a3 3 0 003 3z" />
              </svg>
              <a href="#">Wallet</a>
            </li>

            <li :class="{'active': urlChecker('transaction')}" class="flex side-nav-menu items-center mb-3 cursor-pointer pl-3 py-2 text-diagon-gray-400 hover:bg-diagon-red-100 text-base leading-6 font-medium">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-3" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 11H5m14 0a2 2 0 012 2v6a2 2 0 01-2 2H5a2 2 0 01-2-2v-6a2 2 0 012-2m14 0V9a2 2 0 00-2-2M5 11V9a2 2 0 012-2m0 0V5a2 2 0 012-2h6a2 2 0 012 2v2M7 7h10" />
              </svg>
              <a href="#">Transactions</a>
            </li>

            <li class="divide mt-4 mb-5"></li>

            <li :class="{'active': urlChecker('transfer')}" class="flex side-nav-menu items-center mb-3 cursor-pointer pl-3 py-2 text-diagon-gray-400 hover:bg-diagon-red-100 text-base leading-6 font-medium">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-3" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 10h18M7 15h1m4 0h1m-7 4h12a3 3 0 003-3V8a3 3 0 00-3-3H6a3 3 0 00-3 3v8a3 3 0 003 3z" />
              </svg>
              <a href="#">Transfer</a>
            </li>

            <li :class="{'active': urlChecker('support')}" class="flex side-nav-menu items-center mb-3 cursor-pointer pl-3 py-2 text-diagon-gray-400 hover:bg-diagon-red-100 text-base leading-6 font-medium">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-3" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18.364 5.636l-3.536 3.536m0 5.656l3.536 3.536M9.172 9.172L5.636 5.636m3.536 9.192l-3.536 3.536M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-5 0a4 4 0 11-8 0 4 4 0 018 0z" />
              </svg>
              <a href="#">Support</a>
            </li>
            <li :class="{'active': urlChecker('settings')}" class="flex side-nav-menu items-center mb-3 cursor-pointer pl-3 py-2 text-diagon-gray-400 hover:bg-diagon-red-100 text-base leading-6 font-medium">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-3" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z" />
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
              </svg>
              <a href="#">Settings</a>
            </li>

            <li class="last-link absolute bottom-0 mb-4">
              <div class="profile cursor-pointer flex items-start">
                <div class="avatar flex items-center space-x-1.5">
                  <img class="w-10 h-10 rounded-full" src="assets/images/user.png" alt="">
                <div class="name">
                  <span class="text-diagon-black block text-sm">Usman Abiola</span>
                  <span class="text-diagon-gray-100 text-12px">Usmanabiola@gmail.com</span>
                </div>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" class="cursor-pointer text-diagon-gray-100 h-6 w-6 -ml-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1" />
                </svg>
              </div>
            </li>
          </ul>
        </nav>
      </aside>
      <main class="app-main-view bg-diagon-gray-500 col-span-10"></main>
    </div>
    </section>

    <script src="https://unpkg.com/vue@3"></script>
    <script>
      Vue.createApp({
        data() {
          return {
            showPassword: false,
            text: "lorem ispss",
            passwordType: 'password',
            language: ['EN/NGN', 'IN/IND', 'EN/USA', 'EN/ENG'],
            activeLang: 'EN/NGN',
            showLangOption: false
          };
        },
        methods: {
          selectActiveLang(lang){
            this.activeLang = lang
            this.showLangOption = false
            },
            urlChecker(value){
              return window.location.href.indexOf(value) > -1;

            }
        }
      }).mount("#app-index");
    </script>
  </body>
</html>
